.traits {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
}

.traits-item {
    width: 100px;
}

.traits-value {
    color: #38618C;
    font-weight: 500;
    font-size: 1.2rem;
}